*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: #497174;
    color: #EFF5F5;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 10%;
}
.navbar img{
    width: 5rem;
    background-color: #EFF5F5;
    border-radius: 50%;
}
nav{
    display: flex;
    gap: 1rem;
}
.nav-li{
    color: #EFF5F5;
    text-decoration: none;
    font-weight: bold;
}